<!-- components/navbar.html -->
<nav id="navbar" class="navbar">
    <div class="navbar-left">
        <div class="navbar-links" id="navbar-links">
            <a href="/index.html" class="nav-link">
                <i class="fas fa-home"></i>
                <span>Home</span>
            </a>
            <a href="/components/intro.html" class="nav-link">
                <i class="fas fa-info-circle"></i>
                <span>Introducción</span>
            </a>
            <a href="/components/quienessomos.html" class="nav-link">
                <i class="fas fa-users"></i>
                <span>Quiénes Somos</span>
            </a>
            <a href="/components/servicios.html" class="nav-link">
                <i class="fas fa-briefcase"></i>
                <span>Servicios</span>
            </a>
            <a href="/components/contacto.html" class="nav-link">
                <i class="fas fa-envelope"></i>
                <span>Contacto</span>
            </a>
        </div>
    </div>
    <div class="navbar-right">
        <a href="/components/game/index.html" class="sith-clash-btn">
            <i class="fas fa-fist-raised"></i>
            <span>The Siths Clash</span>
        </a>
    </div>
  </nav>